1. Anaconda
conda install ipykernel
conda create -n {nameOfEnv} python=3.7 pandas jupyter seaborn scikit-learn keras tensorflow
2. Python 3.9
Libraries:
- Tensorflow 2.5
- Keras
- Google
- Matplotlib
- panda
- pillow
- numpy
- cv2
Installation
- pip install tensorflow
- pip install keras
- pip install google, beautifulsoup4
- pip install numpy
- pip install matplotlib
- pip install pandas
- pip install Pillow
3. IDE: VSCode
